.journeyTag {
  border-color: grey;
  border-width: medium;
  border-style: solid;
  border-radius: 3px;
  margin-left: 7px;
  margin-right: 7px;
}

.shownTag {
  border-radius: 5px;
  background: lightgrey;
  border: 2px solid lightgrey;
  padding: 2px;
  height: 25px;
  margin-left: 4px;
  color: black;
  font-size: small;
  vertical-align: middle;
  text-align: center;
}
