ion-back-button {
  display: block;
}

.shownTag {
  border-radius: 5px;
  background: lightgrey;
  border: 2px solid lightgrey;
  padding: 2px;
  height: 25px;
  margin-left: 4px;
  color: black;
  font-size: small;
  vertical-align: middle;
  text-align: center;
}
