<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="routeBackToJourney()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{currentRoute.headline}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteRouteAlert()"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{currentRoute.headline}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="routeMap" style="width: 100%; height: 40%"></div>
  <ion-list>
    <ion-button (click)="startTracking()" color="success" expand="block" *ngIf="!trackingIsActive">
      Tracking starten
    </ion-button>
    <ion-button (click)="stopTracking()" color="danger" expand="block" *ngIf="trackingIsActive">
      Tracking stoppen
    </ion-button>
    <ion-list-header>Routen-Highlights</ion-list-header>
    <ion-item *ngIf="currentRoute.highlights.length == 0">
      <ion-label><em>Leider gibt es noch kein Highlight</em></ion-label>
    </ion-item>
    <ion-item *ngFor="let highlight of currentRoute.highlights">
      <ion-card>
        <ion-img *ngIf="highlight.pictures.length > 0"
                 [src]="highlight.pictures[0].path"
                 style="width: 14rem; height: 10rem"
        ></ion-img>
        <ion-card-header>
          <ion-card-title>{{highlight.headline}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>{{highlight.description}}</ion-text>
          <ion-label>Breitengrad: {{highlight.latitude}}</ion-label>
          <ion-label>Längengrad: {{highlight.longitude}}</ion-label>
          <ion-label>Zeitpunkt: {{convertToReadableDate(highlight.timestamp)}}</ion-label>
          <ion-row>
            <ion-item *ngFor="let tag of highlight.tags">
              <p [style]="tagStyle(tag)" class="shownTag">{{tag}}</p>
            </ion-item>
          </ion-row>
          <ion-buttons slot="end">
            <ion-button (click)="deleteRouteHighlightAlert(highlight)"><ion-icon name="trash"></ion-icon></ion-button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>Routen-Punkte</ion-list-header>
    <ion-item *ngIf="currentRoute.points.length == 0">
      <ion-label><em>Du hast noch keine Punkte zur Route hinzugefügt</em></ion-label>
    </ion-item>
    <ion-item *ngFor="let point of currentRoute.points">
      <ion-card>
        <ion-card-content>
          <ion-label>Breitengrad: {{point.latitude}}</ion-label>
          <ion-label>Längengrad: {{point.longitude}}</ion-label>
          <ion-label>Zeitpunkt: {{convertToReadableDate(point.timestamp)}}</ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="deleteRoutePointAlert(point)"><ion-icon name="trash"></ion-icon></ion-button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-row style="height: 110px"></ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" color="primary" (click)="newHighlight()">Neues Highlight</ion-button>
    <ion-button expand="full" color="primary" (click)="addNewPoint()">Neuer Punkt</ion-button>
  </ion-toolbar>
</ion-footer>
