<ion-header translucent>
  <ion-toolbar>
    <ion-title>Neue Route</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Schliessen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="routeForm">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" formControlName="routeName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Beschreibung</ion-label>
      <ion-input type="text" formControlName="routeDescription"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Tags<p *ngIf="tags.length > 0">(Lösche Tag durch antippen)</p></ion-label>
    </ion-item>
    <ion-item *ngIf="tags.length > 0">
      <ion-label *ngFor="let tag of tags" class="journeyTag" (click)="deleteTag(tag)">{{tag}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="text" formControlName="tag"></ion-input>
      <ion-button (click)="addNewTag()" [disabled]="this.routeForm.get('tag').value === ''">
        Hinzufügen
      </ion-button>
    </ion-item>
  </form>
  <ion-row style="height: 110px"></ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button [disabled]="!routeForm.valid" type="submit" expand="full" color="primary" (click)="saveNewRoute()">
      Route anlegen
    </ion-button>
  </ion-toolbar>
</ion-footer>
