.shownTag {
  border-radius: 5px;
  background: lightgrey;
  border: 2px solid lightgrey;
  padding: 2px;
  height: 25px;
  margin-left: 4px;
  color: black;
  font-size: small;
  vertical-align: middle;
  text-align: center;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-img{
  height: 10rem;
  display: block; /* remove extra space below image */
}
